html {
    background-image: url(imgs/bg1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: none;
    min-width: 100%;
    min-height: 100%;

}

